
.messages-container{
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.messages-container.no-scroll{
  overflow: hidden;
}

.left > img{
    cursor: pointer;
}

.right{
  max-width: 100%;
}

.message{
  display: flex;
  width: 90%;
  border-radius: 0 0.5rem 0.5rem 0;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  gap: 1rem;
  margin-bottom: 2rem;
}

.message:hover{
  background-color: #18181B;
}

.author{
  display:flex;
  align-items:start;
  gap: 1rem;
  cursor: pointer;
}

.name-date-container{
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.name-date-container > *{
  margin: 0;
}

.sent-date{
  color: #767780;
}

.message-content{
  color: #DCDCDF;
  font-size: medium;
  white-space: pre-wrap;
}

.yt-embed-iframe{
    min-width: 30rem;
    max-width: 50rem;
    aspect-ratio: 16/9;
}
