
.server-sidebar{
    position: sticky;
    top: 0;
    overflow-y: auto;
    background-color: #000000;
    height:100vh;
    min-width: 5rem;
}

.server-container{
    display: flex;
    position: relative;
}

.server-image{
    height: 3.5rem;
    border-radius: 2rem;
    padding: 0.75rem;
}

.server-image:hover{
    border-radius: 1.5rem;
}

.server-container:hover::before{
    align-self: center;
    position: absolute;
    content: "";
    padding: 0.75rem 0.15rem;
    border-radius: 0.75rem;
    background-color: white;
}